ILSBusinessLayer/Web References/com.logytechmobile.apps/WsOfficeTrack.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="NotificacionOfficeTrack">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Data" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="NotificacionOfficeTrackResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="NotificacionOfficeTrackResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="NotificacionOfficeTrackSalida">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="xml" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="NotificacionOfficeTrackSalidaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="NotificacionOfficeTrackSalidaResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="NotificacionOfficeTrackSoapIn">
    <wsdl:part name="parameters" element="tns:NotificacionOfficeTrack" />
  </wsdl:message>
  <wsdl:message name="NotificacionOfficeTrackSoapOut">
    <wsdl:part name="parameters" element="tns:NotificacionOfficeTrackResponse" />
  </wsdl:message>
  <wsdl:message name="NotificacionOfficeTrackSalidaSoapIn">
    <wsdl:part name="parameters" element="tns:NotificacionOfficeTrackSalida" />
  </wsdl:message>
  <wsdl:message name="NotificacionOfficeTrackSalidaSoapOut">
    <wsdl:part name="parameters" element="tns:NotificacionOfficeTrackSalidaResponse" />
  </wsdl:message>
  <wsdl:message name="NotificacionOfficeTrackHttpGetIn">
    <wsdl:part name="Data" type="s:string" />
  </wsdl:message>
  <wsdl:message name="NotificacionOfficeTrackHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="NotificacionOfficeTrackSalidaHttpGetIn">
    <wsdl:part name="xml" type="s:string" />
  </wsdl:message>
  <wsdl:message name="NotificacionOfficeTrackSalidaHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="NotificacionOfficeTrackHttpPostIn">
    <wsdl:part name="Data" type="s:string" />
  </wsdl:message>
  <wsdl:message name="NotificacionOfficeTrackHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="NotificacionOfficeTrackSalidaHttpPostIn">
    <wsdl:part name="xml" type="s:string" />
  </wsdl:message>
  <wsdl:message name="NotificacionOfficeTrackSalidaHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:portType name="WsOfficeTrackSoap">
    <wsdl:operation name="NotificacionOfficeTrack">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Servicio para notificaciones de OfficeTrack</wsdl:documentation>
      <wsdl:input message="tns:NotificacionOfficeTrackSoapIn" />
      <wsdl:output message="tns:NotificacionOfficeTrackSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="NotificacionOfficeTrackSalida">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Servicio envío de XML a OfficeTrack</wsdl:documentation>
      <wsdl:input message="tns:NotificacionOfficeTrackSalidaSoapIn" />
      <wsdl:output message="tns:NotificacionOfficeTrackSalidaSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="WsOfficeTrackHttpGet">
    <wsdl:operation name="NotificacionOfficeTrack">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Servicio para notificaciones de OfficeTrack</wsdl:documentation>
      <wsdl:input message="tns:NotificacionOfficeTrackHttpGetIn" />
      <wsdl:output message="tns:NotificacionOfficeTrackHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="NotificacionOfficeTrackSalida">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Servicio envío de XML a OfficeTrack</wsdl:documentation>
      <wsdl:input message="tns:NotificacionOfficeTrackSalidaHttpGetIn" />
      <wsdl:output message="tns:NotificacionOfficeTrackSalidaHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="WsOfficeTrackHttpPost">
    <wsdl:operation name="NotificacionOfficeTrack">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Servicio para notificaciones de OfficeTrack</wsdl:documentation>
      <wsdl:input message="tns:NotificacionOfficeTrackHttpPostIn" />
      <wsdl:output message="tns:NotificacionOfficeTrackHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="NotificacionOfficeTrackSalida">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Servicio envío de XML a OfficeTrack</wsdl:documentation>
      <wsdl:input message="tns:NotificacionOfficeTrackSalidaHttpPostIn" />
      <wsdl:output message="tns:NotificacionOfficeTrackSalidaHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WsOfficeTrackSoap" type="tns:WsOfficeTrackSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="NotificacionOfficeTrack">
      <soap:operation soapAction="http://tempuri.org/NotificacionOfficeTrack" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NotificacionOfficeTrackSalida">
      <soap:operation soapAction="http://tempuri.org/NotificacionOfficeTrackSalida" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WsOfficeTrackSoap12" type="tns:WsOfficeTrackSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="NotificacionOfficeTrack">
      <soap12:operation soapAction="http://tempuri.org/NotificacionOfficeTrack" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NotificacionOfficeTrackSalida">
      <soap12:operation soapAction="http://tempuri.org/NotificacionOfficeTrackSalida" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WsOfficeTrackHttpGet" type="tns:WsOfficeTrackHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="NotificacionOfficeTrack">
      <http:operation location="/NotificacionOfficeTrack" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NotificacionOfficeTrackSalida">
      <http:operation location="/NotificacionOfficeTrackSalida" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WsOfficeTrackHttpPost" type="tns:WsOfficeTrackHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="NotificacionOfficeTrack">
      <http:operation location="/NotificacionOfficeTrack" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NotificacionOfficeTrackSalida">
      <http:operation location="/NotificacionOfficeTrackSalida" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WsOfficeTrack">
    <wsdl:port name="WsOfficeTrackSoap" binding="tns:WsOfficeTrackSoap">
      <soap:address location="http://apps.logytechmobile.com/NotusCemOfficeTrackWS/WsOfficeTrack.asmx" />
    </wsdl:port>
    <wsdl:port name="WsOfficeTrackSoap12" binding="tns:WsOfficeTrackSoap12">
      <soap12:address location="http://apps.logytechmobile.com/NotusCemOfficeTrackWS/WsOfficeTrack.asmx" />
    </wsdl:port>
    <wsdl:port name="WsOfficeTrackHttpGet" binding="tns:WsOfficeTrackHttpGet">
      <http:address location="http://apps.logytechmobile.com/NotusCemOfficeTrackWS/WsOfficeTrack.asmx" />
    </wsdl:port>
    <wsdl:port name="WsOfficeTrackHttpPost" binding="tns:WsOfficeTrackHttpPost">
      <http:address location="http://apps.logytechmobile.com/NotusCemOfficeTrackWS/WsOfficeTrack.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>