ILSBusinessLayer/Web References/NotusExpressDaviviendaService/NotusExpressDaviviendaService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.logytechmobile.com/NotusExpressWebService/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://www.logytechmobile.com/NotusExpressWebService/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">WebService que provee los procedimientos y funciones necesarios para llevar a cabo la sincronización de información de BancaSegurosCEM</wsdl:documentation>
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.logytechmobile.com/NotusExpressWebService/">
      <s:element name="ActualizaGestionVenta">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="infoGestion" type="tns:WsGestionVenta" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="WsGestionVenta">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="IdGestionVenta" type="s:long" />
          <s:element minOccurs="1" maxOccurs="1" name="IdCliente" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="IdResultadoProceso" type="tns:ResuladoProcesoVenta" />
          <s:element minOccurs="1" maxOccurs="1" name="IdEstado" type="tns:EstadosGestionDeVenta" />
          <s:element minOccurs="0" maxOccurs="1" name="ObservacionCallCenter" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ObservacionVendedor" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="FechaRecepcionDocumentos" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="IdReceptorDocumento" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="FechaLegalizacion" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="IdLegalizador" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="EsNovedad" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="ObservacionDeclinar" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="IdNovedad" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ObservacionNovedad" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="IdCampaniaNotus" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="IdServicioNotus" type="s:long" />
          <s:element minOccurs="1" maxOccurs="1" name="IdModificador" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="FechaAgenda" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="IdEstadoServicioMensajeria" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ListaNovedades" type="tns:ArrayOfAnyType" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="ResuladoProcesoVenta">
        <s:restriction base="s:string">
          <s:enumeration value="Aprobada" />
          <s:enumeration value="Negada" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="EstadosGestionDeVenta">
        <s:restriction base="s:string">
          <s:enumeration value="RegistroParcial" />
          <s:enumeration value="Registrada" />
          <s:enumeration value="VentaDeclinada" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="ArrayOfAnyType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="anyType" nillable="true" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ResultadoProceso">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Valor" type="s:long" />
          <s:element minOccurs="0" maxOccurs="1" name="Mensaje" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ActualizaGestionVentaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ActualizaGestionVentaResult" type="tns:ResultadoProceso" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RegistraSerialGestionVenta">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="idServicio" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="dsDatos">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RegistraSerialGestionVentaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RegistraSerialGestionVentaResult" type="tns:ResultadoProceso" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RegistraCampania">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="infoCampania" type="tns:WsRegistroCampania" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="WsRegistroCampania">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="IdCampania" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Nombre" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="FechaInicio" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="FechaFin" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="Activo" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="ListCiudades" type="tns:ArrayOfInt" />
          <s:element minOccurs="0" maxOccurs="1" name="ListBodegas" type="tns:ArrayOfInt" />
          <s:element minOccurs="0" maxOccurs="1" name="ListProductoExterno" type="tns:ArrayOfInt" />
          <s:element minOccurs="0" maxOccurs="1" name="ListDocumentoFinanciero" type="tns:ArrayOfInt" />
          <s:element minOccurs="0" maxOccurs="1" name="ListTiposDeServicio" type="tns:ArrayOfInt" />
          <s:element minOccurs="1" maxOccurs="1" name="IdClienteExterno" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="IdTipoCampania" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="IdSistema" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfInt">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="int" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="RegistraCampaniaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RegistraCampaniaResult" type="tns:ResultadoProceso" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ActualizaCampania">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="infoCampania" type="tns:WsRegistroCampania" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ActualizaCampaniaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ActualizaCampaniaResult" type="tns:ResultadoProceso" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ActualizaGestionVentaSoapIn">
    <wsdl:part name="parameters" element="tns:ActualizaGestionVenta" />
  </wsdl:message>
  <wsdl:message name="ActualizaGestionVentaSoapOut">
    <wsdl:part name="parameters" element="tns:ActualizaGestionVentaResponse" />
  </wsdl:message>
  <wsdl:message name="RegistraSerialGestionVentaSoapIn">
    <wsdl:part name="parameters" element="tns:RegistraSerialGestionVenta" />
  </wsdl:message>
  <wsdl:message name="RegistraSerialGestionVentaSoapOut">
    <wsdl:part name="parameters" element="tns:RegistraSerialGestionVentaResponse" />
  </wsdl:message>
  <wsdl:message name="RegistraCampaniaSoapIn">
    <wsdl:part name="parameters" element="tns:RegistraCampania" />
  </wsdl:message>
  <wsdl:message name="RegistraCampaniaSoapOut">
    <wsdl:part name="parameters" element="tns:RegistraCampaniaResponse" />
  </wsdl:message>
  <wsdl:message name="ActualizaCampaniaSoapIn">
    <wsdl:part name="parameters" element="tns:ActualizaCampania" />
  </wsdl:message>
  <wsdl:message name="ActualizaCampaniaSoapOut">
    <wsdl:part name="parameters" element="tns:ActualizaCampaniaResponse" />
  </wsdl:message>
  <wsdl:portType name="NotusExpressServiceSoap">
    <wsdl:operation name="ActualizaGestionVenta">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Función que permite modificar una gestión de venta</wsdl:documentation>
      <wsdl:input message="tns:ActualizaGestionVentaSoapIn" />
      <wsdl:output message="tns:ActualizaGestionVentaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RegistraSerialGestionVenta">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Función que permite registrar los seriales de una gestión de venta</wsdl:documentation>
      <wsdl:input message="tns:RegistraSerialGestionVentaSoapIn" />
      <wsdl:output message="tns:RegistraSerialGestionVentaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RegistraCampania">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Función que permite registrar una campania</wsdl:documentation>
      <wsdl:input message="tns:RegistraCampaniaSoapIn" />
      <wsdl:output message="tns:RegistraCampaniaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ActualizaCampania">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Función que permite actualizar una campania</wsdl:documentation>
      <wsdl:input message="tns:ActualizaCampaniaSoapIn" />
      <wsdl:output message="tns:ActualizaCampaniaSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NotusExpressServiceSoap" type="tns:NotusExpressServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ActualizaGestionVenta">
      <soap:operation soapAction="http://www.logytechmobile.com/NotusExpressWebService/ActualizaGestionVenta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegistraSerialGestionVenta">
      <soap:operation soapAction="http://www.logytechmobile.com/NotusExpressWebService/RegistraSerialGestionVenta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegistraCampania">
      <soap:operation soapAction="http://www.logytechmobile.com/NotusExpressWebService/RegistraCampania" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizaCampania">
      <soap:operation soapAction="http://www.logytechmobile.com/NotusExpressWebService/ActualizaCampania" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NotusExpressServiceSoap12" type="tns:NotusExpressServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ActualizaGestionVenta">
      <soap12:operation soapAction="http://www.logytechmobile.com/NotusExpressWebService/ActualizaGestionVenta" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegistraSerialGestionVenta">
      <soap12:operation soapAction="http://www.logytechmobile.com/NotusExpressWebService/RegistraSerialGestionVenta" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegistraCampania">
      <soap12:operation soapAction="http://www.logytechmobile.com/NotusExpressWebService/RegistraCampania" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizaCampania">
      <soap12:operation soapAction="http://www.logytechmobile.com/NotusExpressWebService/ActualizaCampania" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="NotusExpressService">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">WebService que provee los procedimientos y funciones necesarios para llevar a cabo la sincronización de información de BancaSegurosCEM</wsdl:documentation>
    <wsdl:port name="NotusExpressServiceSoap" binding="tns:NotusExpressServiceSoap">
      <soap:address location="http://appsfin.logytechmobile.com/NotusExpress.Davivienda/WebService/NotusExpressDaviviendaService.asmx" />
    </wsdl:port>
    <wsdl:port name="NotusExpressServiceSoap12" binding="tns:NotusExpressServiceSoap12">
      <soap12:address location="http://appsfin.logytechmobile.com/NotusExpress.Davivienda/WebService/NotusExpressDaviviendaService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>